<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-info">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white " href="#">TECH NEWS LIVE</a>
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
          <%=link_to "Home", home_path %></li>
      <li class="nav-item">
        <a class="" href="#"> &nbsp&nbsp&nbsp </a>
      </li>
      <li class="nav-item">
      <%=link_to "Add News", new_post_path %></li>
      <li class="nav-item">&nbsp&nbsp&nbsp
      <%=link_to "About ", about_path  %></li>
      <li class="nav-item">&nbsp&nbsp&nbsp
      <%=link_to "Contact Us", contact_path %></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <script >
        (function() {
          var cx = '002042284569810389877:oxua9m3_iaa';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>
    </form>
  </div>
</nav>

  <div class="container">
        <%= yield %>
  </div>
  </body>
</html>
